body { margin: 0; font-family: "lucida grande", tahoma, verdana, arial, sans-serif; }
h1 { background-color: #3B5998; border: 1px solid #133783; color: white; margin: 0; padding: 5px 37px; }
a { color: #3B5998; text-decoration: none; }
a:hover { text-decoration: underline; }
#content { margin: 0 20px; border: 1px solid #CCCCCC; border-top: none; }
#content>div { margin: 20px }
#content>div:first-child { margin-top: 0; padding-top: 20px }
#grep { font-size: 0.7em; }
#ack { font-size: 0.8em; }

